{% extends "base_generic.html" %} {% load crispy_forms_tags %} {% load static %}
{% block title %} Profile | {{user.first_name}} {{user.last_name}} 
{% endblock title %} {% block css %}

<link rel="stylesheet" href="{% static 'ss/css/profile.css'%}" />
{% endblock css %} {% block content %}

  <main class="container animate__animated animate__fadeIn">

    {% if messages %}
    
    <div class="alert alert-success alert-dismissible fade show mt-0" role="alert">
      <span style="font-size: 1.5em;">
        {% for message in  messages %}
          {{message}} 
        {% endfor %}
      </span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      
    {% endif %}
      
    <div style="height: 700px;">
      <div class="row mt-5">
        <div class="col-md-2">
          <nav class="border">
            <ul class="navbar-nav side-navbar">
              <li class="nav-item">
                <a class="nav-link active-link px-3" href="#profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="#update-profile">Update Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="#annonces"
                  >Annonce <span class="badge badge-secondary">3</span></a
                >
              </li>
            </ul>
          </nav>
        </div>
      
        <div style="height: 40px; visibility: hidden;">""</div>
        <!--show profile detail -->
        <div class="col-md-4 active mx-auto mt-md-4 shadow p-4 border animate__animated animate__fadeIn wrapper" id="profile">
          <div class="row justify-content-center mb-5">
            <li class="image image-wrapper" style="list-style: none; margin: 0 auto;"> 
              <img src="{{user.profile_image.url}}" alt="profile" width="60" height="60"  class="rounded-circle"/>
              <!-- <strong>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</strong> -->
            </li>
          </div>
          
          
  
          <p class="mt-4">
            <strong>Nom:</strong>
            <span class="text-muted">{{user.first_name}}</span>
          </p>
  
          <p class="mt-4">
            <strong>Prenom:</strong>
            <span class="text-muted">{{user.last_name}}</span>
          </p>
  
          <p class="mt-4">
            <strong>email:</strong>
            <span class="text-muted">{{user.email}}</span>
          </p>
    
          <p class="mt-4">
            <strong>Numero:</strong>
            {% if user.tel_number %} <span class="text-muted">{{user.tel_number}}</span>  
            {% else %}
              <span class="text-muted">
                Fournissez un numero pour qu'on puisse vous contactez dans
                le cas ou quelqu'un aura besoin de vos talent
              </span>
            {% endif %}
          </p>
      
      
          <p class="mt-4">
            <strong>Biographie:</strong><br />
            {% if user.biographie %}
              <span class="text-muted ">{{user.biographie}}</span>
            {% else %}
              <span> Update your biographie to help people know you well </sapn>
            {% endif %}
          </p>
        </div>
      
        
        <!-- update profile page -->
        
        <div class="col-md-8 p-4  mt-md-3 mx-auto  animate__animated animate__fadeIn" id="update-profile" style="display: none;">
          <form
            action="{% url 'profile' user.id %}"
            method="post"
            novalidate
            id="updateProfileForm"
            enctype="multipart/form-data"
          >
            {% csrf_token %} {% for field in form %} {{field|as_crispy_field}} {% endfor %} 
            <button type="submit" class="btn button w-100 p-2" id="save-button">mise a jour</button>
          </form>
        </div>
      
        <!-- show annonces-->
        <div class="col-md-4 p-4 mt-md-4 mx-auto animate__animated animate__fadeIn" id="annonces" style="display: none;">
          <p>Aucune annonce disponible pour le moment</p>
        </div>
      </div>
    </div>
  </main>
{% endblock content %} {% block javascript %}
<script>
  $(function () {
  $(".side-navbar").on("click", function (ev) {
    $(".active-link").removeClass("active-link");
    const href = $(ev.target).addClass("active-link").attr("href");

    if (!$(href).hasClass("active")) {
      $(".active").removeClass("active").hide();
      $(href).addClass("active");

      $(href).show("fast");
    }
  });

  const button =
    '<button type="submit"  class="btn w-100 p-2 button" id="save-button">mise a jour</button>';

  const $updateForm = $("#updateProfileForm");
  const url = $updateForm.attr("action");

    $updateForm.on("submit", function (e) {
      e.preventDefault();

      const fd = new FormData(this);

      $.ajax({
        type: "POST",
        url: url,
        data: fd,
        processData: false,
        contentType: false,
        enctype: "multipart/form-data",
        success: function (response) {
          const { success, redirect_to, profileUpdateForm } = response;
          if (success) {
            location = redirect_to;
          } else $updateForm.html(profileUpdateForm).append(button);
        },

        beforeSend: function () {
          let spinner =
            "<img src='{% static 'ss/images/small_loading2.svg' %}' alt='loading' />";
          $("#save-button").attr("disabled", true).html(spinner);
        },

        complete: function () {
          $("#save-button").attr("disabled", false).html("Save");
        },

        error: function () {
          alert("error occured");
        },
      });
    });
  });

</script>
{% endblock javascript %}
